body{
	background: #efefef;
}
.index{
	display: flex;
}
.list{
	width: 70%;
}
.navs{
	width: 25%;
	margin-right: 5%;
}
.list .layui-row{
	margin-bottom: 1rem;
	background: white;
	padding: 1rem 0;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}
.list .layui-row div:first-child {
	padding-left: 1rem;
}
.list .layui-row div:last-child {
	color: #666666;
	text-align: right;
	padding-right: 1rem;
	font-size: 90%;
}
.navs ul{
	list-style-type: none;
	margin-top: 1rem;
}
.navs ul li {
	padding: 1rem 2rem;
	background:white;
	margin-bottom:.5rem;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.comment-list span{
	display: inline-block;
	float: right;
}
.comment-list .user-box{
	border-bottom: 1px solid #efefef;
	margin-top: 10px;
}
.comment-list .user-box:last-child{
	border:0px;
}
.comment-list .user-box img{
	border-radius:50%;
	width:45px;
	height:45px;
}
.comment-list .user-head{
	margin-right: 10px;
	display: flex;
}
.comment-list .user-head .user-avatar{
	margin-right: 10px;
}
.comment-list .user-head .user-info p:first-child{
	font-size: 100%;
}
.comment-list .user-content{
	margin:10px 0;
}