{{ template "header" . }}
	<div class="layui-container index">
		<div class="space-left">
			{{ template "user-nav-left" . }}
		</div>
		<div class="space-right">
			<!-- 个人信息 -->
			<div class="space-box space-userinfo">
				<div class="space-title">
					我的好友
				</div>
				<div class="space-info">
					<div class="list">
						{{ if .list }}
							{{ range .list }}
							<div class="layui-row">
								<div class="layui-col-md9">
									<a href="/space/{{ .SendUid }}">
										<img style="width:25px;border-radius: 50%;margin-right: 7px;" src="{{ .Avatar }}">
									</a>
									{{ .Name }}
								</div>
								<div class="layui-col-md3">
									<span class="layui-btn layui-btn-success layui-btn-sm">发消息</span>
									<span class="delete layui-btn layui-btn-danger layui-btn-sm" data-id="{{ .Id }}">删除好友</span>
								</div>
							</div>
							{{ end }}
						{{ else }}
							<div class="layui-row">
								<div class="layui-col-md12" style="text-align:left">
									您的好友列表是空的，赶紧去<a href="/">添加</a>几个好友吧
								</div>
							</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
{{ template "footer" . }}
<script>
	//Demo
	layui.use('form', function(){
		$('.delete').click(function(){
			let id = $(this).attr('data-id')
			if (id) {
				layer.confirm('删除确认？', {icon: 3, title:'删除好友'}, function(index){
					//do something
					layer.close(index);
					$.post('/deleteFriend' , {id : id} , function(data){
						if (data.status) {
	                        layer.msg(data.msg)
	                        return;
	                    }
	                    layer.msg(data.msg);
	                    setTimeout(function(){
	                    	window.location.reload();
	                    } , 1500)
					})
				});
			}
		})
	});
</script>