{{ template "header" . }}
	<div class="layui-container">
	<div class="layui-card">
		<div class="layui-card-header">用户登录</div>
		<div class="layui-card-body">
			<form method="post" action="/login" class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">账号</label>
					<div class="layui-input-block">
						<input type="text" name="name" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码</label>
					<div class="layui-input-block">
						<input type="password" name="password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submit">登录</button>
						<a href="/register" class="layui-btn layui-btn-primary">没有账号，去注册</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
{{ template "footer" . }}
<script>
	//Demo
	layui.use('form', function(){
		var form = layui.form;

		//监听提交
		form.on('submit(submit)', function(data){
			$.post('/login' , data.field , (data) => {
				if (data.status) {
					layer.msg(data.msg)
					return;
				}
				layer.msg(data.msg)
				setTimeout(() => {
					window.location.href = '/';
				} , 1500);
			} , 'json');
			return false;
		});
	});
</script>